body{
    width: 100%;
    align-items: center;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Avenir, 'Source Sans Pro', sans-serif;
}
header {
    box-sizing: border-box;
    flex: 0 1 auto;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 2%;
}
form {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%; 
    border: 1%;
    border-color: black; 
}
input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-top: 1em;
    width: 100%;
}
button{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-top: 1em;
    width: 100%;
}
#boton-ingresar {
    background-color: indigo;
    border: none;
    font-size: 1em;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.oculto {
    display: none;
}

#boton-calcularTiempoTotal {
    background-color: rgba(0, 130, 102, 0.89);
    border: none;
    font-size: 1em;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.reset {
    background-color: rgba(13, 54, 45, 0.89);
    border: none;
    font-size: 1em;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

strong{
    margin-top: 1em;
}

#listado-aleatorio{
    
    width: 30%;
}
#resultados{
    width: 30%;
}

main{
    display: flex;
    margin-left: 20%;
    width: 100%;
}
